# Diretórios de configuração e cache
.vscode/
.cache/
grafana/
aaa/

# Arquivos de ambiente
.env
.env/
.venv/

# Artefatos de build
target/
volume/
site/

# Volumes Docker (se você usar esse nome)
volumes/

# Python bytecode
__pycache__/

# Outras pastas locais
env/
k6/